[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.loader {
    left: 50%;
    top: 50%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader #ud811Spinner {
    box-sizing: border-box;
    stroke: #673AB7;
    stroke-width: 3px;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
    animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}




progress {
	width: 400px;
	height: 15px;
	margin: 10px auto;
	display: block;
	/* Important Thing */
	-webkit-appearance: none;
	border: none;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
	background: white;
    border: 1px solid #ddd;
	border-radius: 50px;
	padding: 1px;
}

/* Now the value part */
progress::-webkit-progress-value {
	border-radius: 50px;
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		
		-webkit-linear-gradient(left, #FF9800, #EF6C00);
	
	/* Looks great, now animating it */
	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}

/* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */

@-webkit-keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}

#sentence-card-title{
    padding: 10px 6px 6px
}
#content-phase{
    padding: 6px;
    min-height: 17px
}

.Phase {
    font-weight: bold;
    font-size: 12pt
}

@media screen and (max-width:600px) {
    .ActionGif {
        width: 90vw;
    }
    progress {
        width: 100%;
    }
}

@media screen and (min-width:601px) and (max-width:950px) {
    .ActionGif {
        width: 50vw;
    }
    progress {
        width: 100%;
    }
}

@media screen and (min-width:901px) {
    .ActionGif {
        height: 40vh;
    }
    .PhaseContainer {
        width: 50%
    }
    progress {
        width: 80%;
    }
}

.ActionGif {
    object-fit: cover;
    margin-top: 1em
}

#content-phase {
    text-align: center;
    color: #821111
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}